@fontface {
	font-family: msyh;
	src: url('../system/fonts/MSYH.TTC');
}

@fontface {
	font-family: msyh;
	src: url('../system/fonts/MSYHBD.TTC');
	font-weight: bold;
}

.category-content {
	font-family: msyh;
}

.category-content .brand-group {
	margin-bottom: 38px;
}

.category-content .capital {
	font-family: msyh;
	font-size: 3em;
	color: grey;
	display: block;	
}

.category-content .item {
	display: block;
	width: 75%;
	padding: 10px;
	border-bottom: 1px grey solid;
	border-left: 4px #3399FF solid;
	margin: 13px 0;
	font-size: 1.5em;
}

.item:hover, .item:focus{
	border-left: 6px #3399FF solid;
	text-decoration: none;
}
